# virtualenv
/.run
/.vscode

# python cache
__pycache__
*.pyc

# nodejs things
node_modules
.pnp.cjs
.pnp.loader.mjs
.yarn/
yarn.lock

# container
/container

# media
/media

# database
/db.sqlite3