/* 页眉导航 */
.header {
    background-color: rgb(46, 45, 40);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url("../images/Judith_Butler03.jpg");
    width: 100%;
    background-position: center;
    background-size: center;
    position: relative;
    background-repeat: no-repeat;
}