/* 页眉导航 */
.header {
    width: 100%;
    background-position: center;
    background-size: center;
    position: relative;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 200px;
    cursor: pointer;
    margin-left: 38px;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-right: 38px;
}

nav .close-icon {
    display: none;
    width: 30px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
    /* position: relative; */
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #eeeeee2e;
    display: block;
    margin: auto;
    transition: 0.1s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* 导航栏自适应 */
@media screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        background: rgba(105, 83, 14, 0.95);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1000;
        transition: 1s;
        padding-top: 60px;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links ul li {
        display: block;
        margin: 10px 0;
        padding: 10px 20px;
    }


    nav .close-icon {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 5px;
        cursor: pointer;
    }
}