<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>科普顿自助餐厅抗争</title>
    <link rel="stylesheet" href="../../style2.css">
</head>
<body>



    <section class="sub-header">
        <!-- 导航 -->
        <nav>
            <a href="../../Index.html"><img src="../../images/logo-trans4tm1.png" class="logo-icon"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="../../Index.html" target="_self">主页</a></li>
                    <li><a href="../../Time Line.html" target="_blank">跨性别编年史</a></li>
                    <li><a href="../../Archives.html" target="_blank">资料库</a></li>
                    <li><a href="../../About Us.html"target="_blank">关于我们</a></li>
                </ul>
            </div>
            <img src="../../images/分类.png" class="menu-icon">
        </nav>
        <h1>事件</h1>
    </section>


    <!-- About Us Content -->
    <section class="about-us">

        <hr style="width: 56.6vw;">
        <div class="row1">
            <div class="about-col">
                <h1><strong>科普顿自助餐厅抗争（Compton's Cafeteria riot）</strong></h1>
                <h2>1966年8月</h2>
                <h3>奠定了跨性别社区争取权利的早期基础，标志着旧金山跨性别运动的开始</h3>
                <h4>社会背景：</h4>
                    <p>1960年代，美国旧金山的跨性别群体长期面临社会歧视和警察骚扰。公共场所经常发生针对跨性别者的暴力和逮捕，
                        日常生活充满威胁和不安全感。缺乏组织和资源，使他们很难有效应对系统性排斥。  
                        这种环境下，跨性别者往往只能在地下空间或私密场合中寻求社交和支持，社会主流对他们的存在和需求知之甚少。
                        长期的边缘化累积了社区的不满和抗争意愿。
                    </p>
                    <p>
                        20世纪60年代是性、性别和少数民族的关键时期，倡导民权和性解放的社会运动取得了成果。
                        此外，20世纪50年代早期的同性恋者运动为跨性别者权利和同性恋解放运动奠定了基础。
                        虽然石墙事件经常被视为跨性别权利运动的开端，但康普顿自助餐厅骚乱和亲同性恋运动的重要性更大社会团体帮助动员，
                        甚至像旧金山格莱德纪念卫理公会教堂（Glide Memorial Methodist Church）这样的教堂也开始向跨性别者社区伸出援手然而，
                        许多警察抵制这些运动和这些团体日益增加的知名度，继续骚扰和虐待跨性别者一方面，对跨性别者权利的支持不断增加，另一方面，
                        他们又不愿意接受这些新观念，这就造成了紧张的气氛，助长了1966年夏天康普顿自助餐厅的骚乱。
                        事件起因于一名跨性别妇女向一名警察投掷咖啡以拒捕随后，变装皇后和跨性别女性涌上街头，拿着高跟鞋和沉重的包进行反击。
                    </p>

                <h4>抗争经过:</h4>
                    <p>1966年，科普顿自助餐厅爆发抗议行动。餐厅内的跨性别顾客勇敢地反抗警方的骚扰和不公正对待。
                        这次事件虽然规模有限，但展现了跨性别群体自我组织和维权的早期实践。  
                        抗争过程中，参与者面对直接的身体威胁，但他们坚持表达自身权利。
                        事件不仅是对特定不公行为的回应，也象征跨性别者开始有意识地争取社会认同和尊重。
                    </p>
                <h4>历史意义:</h4>
                    <p><strong>科普顿自助餐厅抗争提升了跨性别社区的凝聚力，为日后的LGBTQ+运动提供先例。
                        它让社会开始关注跨性别群体的困境，并推动文化和政策讨论的萌芽。  
                        这一事件在跨性别历史中具有里程碑意义，提醒我们社会变革往往源自被边缘化群体的勇气和组织行动。
                        它奠定了跨性别社区争取权利的早期基础。</strong></p>
    
            
    
        </div>
        <div class="about-col">
            <img src="../../images//资料库/事件/Plaque_commemorating_Compton's_Cafeteria_riot.jpg"><br>
        </div>
    </div>
    <hr style="width: 56.6vw;">
    </section>








    <!-- 页脚 -->
    <section class="footer">
        <div class="col-1">
            <h3>快速链接</h3>
            <a href="../../About Submission.html" target="_blank">关于投稿</a>
            <a href="../../About Us.html" target="_blank">关于我们</a>
            <a href="../../Dlog.html" target="_blank">开发日志</a>
        </div>
    
        <div class="col-2">
            <h3>搜索栏</h3>
            <form>
                <input type="type" placeholder="档案搜索" required>
                <br>
                <button type="submit">搜索</button》>
            </form>
        </div>
        <div class="col-3">
            <h3>联系我们</h3>
            <p2>Email:xxxxx@xx.xx</p2>
            <br><br>
            <p2>微信公众号：XXXX</p2>
        </div>
    </section>
    




</body>
</html>