<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>世卫组织ICD-11去病理化</title>
    <link rel="stylesheet" href="../../style2.css">
</head>
<body>



    <section class="sub-header">
        <!-- 导航 -->
        <nav>
            <a href="../../Index.html"><img src="../../images/logo-trans4tm1.png" class="logo-icon"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="../../Index.html" target="_self">主页</a></li>
                    <li><a href="../../Time Line.html" target="_blank">跨性别编年史</a></li>
                    <li><a href="../../Archives.html" target="_blank">资料库</a></li>
                    <li><a href="../../About Us.html"target="_blank">关于我们</a></li>
                </ul>
            </div>
            <img src="../../images/分类.png" class="menu-icon">
        </nav>
        <h1>事件</h1>
    </section>


    <!-- About Us Content -->
    <section class="about-us">

<hr style="width: 56.6vw;">
        <div class="row1">
            <div class="about-col">
                <h1><strong>世卫组织ICD-11去病理化</strong></h1>
                <h2>2019年</h2>
                <h3>将“性别不一致”（Gender Incongruence）从精神障碍分类中移出，归入“性健康相关状况”。</h3>
                <h4>背景：</h4>
                    <p>长期以来，跨性别身份在医学上被分类为精神障碍，这导致跨性别者在医疗、心理和社会层面遭受污名化。
                        这样的分类影响了他们获取尊重和安全医疗服务的机会。随着跨性别权利意识的提升，国际社会对这一问题逐渐重视。  
                        医学界、社会活动家和政策制定者不断倡导将跨性别身份从疾病分类中移除，以减少歧视和社会偏见。ICD-11更新便是这一努力的结果。
                    </p>
                <h4>ICD-11 更新:</h4>
                    <p>019年，世界卫生组织发布《国际疾病与相关健康问题分类第11版》（ICD-11），将“性别不一致”（Gender Incongruence）从精神障碍分类中移出，归入“性健康相关状况”。  
                        这一改变不仅是医学分类的调整，更是一种社会文化声明，承认跨性别身份属于正常的性别多样性，而非病态或异常。这标志着跨性别者在全球医疗和法律体系中的可见性和权利得到提升。
                    </p>
                <h4>社会与医学影响:</h4>
                    <p>ICD-11的去病理化显著减少了跨性别者在医疗体系中的歧视，促进医疗服务更具尊重性和包容性。它也推动各国在立法、政策和社会服务中关注跨性别群体的需求。  
                        这一政策更新在国际社会中具有里程碑意义，标志着跨性别权利和健康保障进程的重要进展。它不仅改善医疗实践，也在文化层面推动公众理解和接纳跨性别者。</p>
        </div>
        <div class="about-col">
            <img src="../../images//资料库/事件/ICD-11_Logo.jpg">
        </div>
    </div>
    <hr style="width: 56.6vw;">
    </section>








    <!-- 页脚 -->
    <section class="footer">
        <div class="col-1">
            <h3>快速链接</h3>
            <a href="../../About Submission.html" target="_blank">关于投稿</a>
            <a href="../../About Us.html" target="_blank">关于我们</a>
            <a href="../../Dlog.html" target="_blank">开发日志</a>
        </div>
    
        <div class="col-2">
            <h3>搜索栏</h3>
            <form>
                <input type="type" placeholder="档案搜索" required>
                <br>
                <button type="submit">搜索</button》>
            </form>
        </div>
        <div class="col-3">
            <h3>联系我们</h3>
            <p2>Email:xxxxx@xx.xx</p2>
            <br><br>
            <p2>微信公众号：XXXX</p2>
        </div>
    </section>
</body>
</html>