{% extends "base.html" %}
{% load static %}
{% block title %}光谱历史-开发日志{% endblock %}

{% block extra_head %}
<link href="{% static 'asserts/css/header.css' %}" rel="stylesheet" />
<link href="{% static 'asserts/css/base_page.css' %}" rel="stylesheet" />
<link href="{% static 'asserts/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include "header.html" %}
<!-- About Us Content -->
<div class="about-us">
  <hr style="width: 56.6vw" />
  <div class="row1">
    <div class="about-col">
      <h1>
        如果您要投稿，请与我们联系！
        <br />发送邮件或关注公众号加入社群联系开发团队。
      </h1>
      <h3>
        我们由衷感谢您与我们共同完成编年史计划，收到资料后我们将进行严谨核对，确认后将加入数据库。
      </h3>
      <h4>
        我们的邮箱：1234567890@xxxx.com<br />
        <br />微信公众号：XXXXX<br />
      </h4>
    </div>
    <div class="about-col">
      <img src="{% static 'asserts/images/新青年卷一第一号.jpg' %}" />
    </div>
  </div>
  <hr style="width: 56.6vw" />
  <h2>资料贡献者名单（按字母顺序排序）</h2>
  <hr style="width: 56.6vw" />
  <h2 style="color: rgb(102, 92, 6)">!!!///表单项目进行中///!!!</h2>
  <hr style="width: 56.6vw" />
</div>
{% endblock %}