<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>光谱历史-关于投稿</title>
    <link rel="stylesheet" href="./style2.css">
</head>
<body>



    <section class="sub-header">
        <!-- 导航 -->
        <nav>
            <a href="./Index.html" target="_self"><img src="./images/logo-trans4tm1.png" class="logo-icon"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="./Index.html" target="_self">主页</a></li>
                    <li><a href="./Time Line.html" target="_blank">跨性别编年史</a></li>
                    <li><a href="./Archives.html" target="_blank">资料库</a></li>
                    <li><a href="./About us.html"target="_blank">关于我们</a></li>
                </ul>
            </div>
            <img src="./images/分类.png" class="menu-icon">
        </nav>
        <h1>关于投稿</h1>
    </section>


    <!-- About Us Content -->
    <section class="about-us">
<hr style="width: 56.6vw;">
        <div class="row1">
            <div class="about-col">
                <h1>如果您要投稿，请与我们联系！
                <br>发送邮件或关注公众号加入社群联系开发团队。</h1>
                <h3>我们由衷感谢您与我们共同完成编年史计划，收到资料后我们将进行严谨核对，确认后将加入数据库。</h3>
                <h4>我们的邮箱：1234567890@xxxx.com<br>
                <br>微信公众号：XXXXX<br>
            </div>
            <div class="about-col">
                <img src="./images/新青年卷一第一号.jpg">
            </div>
        </div>
<hr style="width: 56.6vw;">
        <h2>资料贡献者名单（按字母顺序排序）</h2>


<hr style="width: 56.6vw;">
        <h2 style="color: rgb(102, 92, 6);">!!!///表单项目进行中///!!!</h2>
<hr style="width: 56.6vw;">
    </section>








    <!-- 页脚 -->
    <section class="footer">
        <div class="col-1">
            <h3>快速链接</h3>
            <a href="./About submission.html" target="_self">关于投稿</a>
            <a href="./About us.html" target="_blank">关于我们</a>
            <a href="./Dlog.html" target="_blank">开发日志</a>
        </div>
    
        <div class="col-2">
            <h3>搜索栏</h3>
            <form>
                <input type="type" placeholder="档案搜索" required>
                <br>
                <button type="submit">搜索</button》>
            </form>
        </div>
        <div class="col-3">
            <h3>联系我们</h3>
            <p2>Email:xxxxx@xx.xx</p2>
            <br><br>
            <p2>微信公众号：XXXX</p2>
        </div>
    </section>
    




</body>
</html>