<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>光谱历史-档案馆</title>
  <link href="{% static 'asserts/css/style.css' %}" rel="stylesheet" />
</head>

<body>
  <!-- 一整个页面的布局 -->
  <div class="Box-Background">
    <!-- 导航栏设置 -->
    <div class="navbar">
      <a href="/" target="_self"><img class="logo-icon" src="{% static 'asserts/images/logo-trans4tm1.png' %}" /></a>
      <nav>
        <ul>
          <li><a href="/" target="_blank">主页</a></li>
          <li><a href="/history/timeline" target="_blank">跨性别编年史</a></li>
          <li><a href="/archives" target="_self">资料库</a></li>
          <li><a href="/about_us" target="_blank">关于我们</a></li>
        </ul>
      </nav>
      <img class="menu-icon" src="{% static 'asserts/images/分类.png' %}" />
    </div>
    <div class="row">
      <div class="col01">
        <div class="card card1" onclick="window.open('people')">
          <h5><br /><br /><br /><br />人物志</h5>
          <h6></h6>
        </div>
        <div class="card card2" onclick="window.open('theory')">
          <h5><br /><br /><br /><br />理论研究</h5>
          <h6></h6>
        </div>
        <div class="card card3" onclick="window.open('gallery')">
          <h5><br /><br /><br /><br />艺术馆</h5>
          <h6></h6>
        </div>
        <div class="card card4" onclick="window.open('history')">
          <h5><br /><br /><br /><br />历史事件</h5>
          <h6></h6>
        </div>
        <div class="card card5">
          <h5><br /><br /><br /><br />历史考古</h5>
          <h6></h6>
        </div>
        <!-- <div class="card card5" onclick="window.open('')"> -->
        <div class="card card6">
          <h5><br /><br /><br /><br />项目施工中</h5>
          <h6></h6>
        </div>
      </div>
    </div>
  </div>

  <!-- 一整个页脚的布局 -->
  <div class="footer">
    <div class="col-1">
      <h3>快速链接</h3>
      <a href="about_submission" target="_blank">关于投稿</a>
      <a href="/about_us" target="_blank">关于我们</a>
      <a href="dlog" target="_blank">开发日志</a>
    </div>
    <div class="col-2">
      <h3>搜索栏</h3>
      <form>
        <input placeholder="档案搜索" required="" type="type" />
        <br />
        <button type="submit">搜索</button>
      </form>
    </div>
    <div class="col-3">
      <h3>联系我们</h3>
      <p2>Email:xxxxx@xx.xx</p2>
      <br /><br />
      <p2>关注我们的微信公众号：XXXX</p2>
    </div>
  </div>
</body>

</html>