<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Title{% endblock %}</title>
    <link href="{% static 'asserts/css/base.css' %}" rel="stylesheet" />
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <!-- Footer -->
    <div class="footer">
        <div class="col-1">
            <h3>快速链接</h3>
            <a href="/about_submission" target="_blank">关于投稿</a>
            <a href="/about_us" target="_blank">关于我们</a>
            <a href="/dlog" target="_blank">开发日志</a>
        </div>
        <div class="col-2">
            <h3>搜索栏</h3>
            <form>
                <input placeholder="档案搜索" required="" type="type" />
                <br />
                <button type="submit">搜索</button>
            </form>
        </div>
        <div class="col-3">
            <h3>联系我们</h3>
            <p2>Email:xxxxx@xx.xx</p2>
            <br /><br />
            <p2>微信公众号：XXXX</p2>
            <br /><br />
            <p2>微博账号：XXXX</p2>
        </div>
    </div>
</body>

</html>