<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}TransHistoria{% endblock %}</title>
    <link href="{% static 'asserts/css/base.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        <div class="container nav">
            <a class="brand" href="/">
                <img src="{% static 'asserts/images/logo-trans4tm1.png' %}" alt="logo" style="max-height: 30px" />
                <!-- <span>TransHistory</span> -->
            </a>
            <button class="menu-toggle" aria-label="Toggle Menu">☰</button>
            <div class="menu" aria-label="Primary">
                <a href="/">主页</a>
                <a href="/history">历史馆</a>
                <!-- <a href="/people">人物馆</a> -->
                <a href="/gallery">艺术馆</a>
                <a href="/theory">资料馆</a>
                <span id="lang-toggle">
                    繁體
                </span>

            </div>
        </div>
    </header>
    <main class="container">
        {% block main %}{% endblock %}
    </main>
    <footer class="container">
        <div class="footer">
            <div class="col-1">
                <h3>快速链接</h3>
                <a href="/about_submission">欢迎投稿</a>
                <a href="/about_us">关于我们</a>
                <a
                    href="https://cumbersome-resistance-f7c.notion.site/TransHistoria-2bfe07d68b048000b907deeba77777ae?source=copy_link">开发日志</a>
                <a
                    href="https://cumbersome-resistance-f7c.notion.site/2bfe07d68b0480d68aaeef32491c84c4?pvs=105">写下留言</a>
            </div>
            <div class="col-2">
                <h3>搜索栏</h3>
                <form>
                    <input id="footer_searchInput" placeholder="档案搜索" type="text" />
                    <br />
                    <button id="footer_searchButton">搜索</button>
                </form>
            </div>
            <div class="col-3">
                <h3>联系我们</h3>
                <div class="contact-icons">
                    <!-- Email -->
                    <a class="icon-item" href="mailto:transhistoria@hotmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <div class="popup">
                            <p>transhistoria@hotmail.com</p>
                        </div>
                    </a>

                    <!-- WeChat -->
                    <div class="icon-item">
                        <i class="fa-brands fa-weixin"></i>
                        <div class="popup">
                            <img src="/static/asserts/images/wechat-qrcode.jpg" alt="WeChat QR">
                        </div>
                    </div>

                    <!-- Weibo -->
                    <a class="icon-item" href="https://weibo.com/u/5500588341" target="_blank">
                        <i class="fa-brands fa-weibo"></i>
                        <div class="popup">
                            <p>TransHistory-光谱社区</p>
                        </div>
                    </a>

                    <!-- Instagram -->
                    <a class="icon-item" href="https://www.instagram.com/transhistoria/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                        <div class="popup">
                            <p>@transhistoria</p>
                        </div>
                    </a>

                    <!-- Github -->
                    <a class="icon-item" href="https://github.com/TransHistoria/TransHistoria" target="_blank">
                        <i class="fa-brands fa-github"></i>
                        <div class="popup">
                            <p>TransHistoria</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{%static 'asserts/js/base.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/opencc-js@1.0.5/dist/umd/full.js"></script> <!-- Full version -->
</body>