{% extends "base_A.html" %}
{% load static %}

{% block title %}TransHistoria{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify@4/lib/themes/vue.css" />
{% endblock %}

{% block main %}
<div id="app">加载中...</div>
{% endblock %}

{% block extra_body %}
<script>
  window.$docsify = {
    name: "Library",
    repo: "",
    homepage: "{{ homepage }}",
    basePath: "{{ basePath }}",
    loadSidebar: false,
    loadNavbar: false,
    plugins: [
      function (hook, vm) {
        hook.doneEach(function () {
          document.body.classList.toggle('close');
        });
      }
    ]
  };
</script>
<script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
{% endblock %}