{% extends "base.html" %}
{% load static %}
{% block title %}光谱历史-开发日志{% endblock %}

{% block extra_head %}
<link href="{% static 'asserts/css/header.css' %}" rel="stylesheet" />
<link href="{% static 'asserts/css/base_page.css' %}" rel="stylesheet" />
<link href="{% static 'asserts/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include "header.html" %}
<!-- About Us Content -->
<div class="about-us">
  <hr style="width: 56.6vw" />
  <div class="row1">
    <div class="about-col">
      <h3>
        <strong><i>予所欲涕泣陈词者，惟属望于新鲜活泼之青年，有以自觉而奋斗耳！
            <br />
            <br />                                                      
                                        ——陈独秀 《敬告青年》</i></strong>
      </h3>
      <h3>网站开发团队名单（按字母顺序排序）</h3>
      <h4>
        Cabbage、Cogliffer、菂菂狐、Felicity、<br />
        <br />Ino_kia、Ino_sawa、Letty17、Lydia、<br />
        <br />Renaissance、Sho <br />
      </h4>
      <h3>特别感谢（按字母顺序排序）</h3>
      <h4>祭子saiko（外援美工）</h4>
    </div>
    <div class="about-col">
      <img src="{% static 'asserts/images/新青年卷一第一号.jpg' %}" />
    </div>
  </div>
  <hr style="width: 56.6vw" />
  <!-- 文本 -->
  <div class="row1">
    <div class="about-col">
      <h1>2025.08.23</h1>
      <h4><strong>创立网站开发团队</strong></h4>
      <p>
        近日Le-bond的反跨性别行为愈发激烈，该社交平台宣传已从最初跨性别友善转向本质主义，并且从开始的刷脸认证转为身份证上传认证。
        此举遭到酷儿社区的集体反对。 <br />
      </p>
      <p>
        起因是该平台小红书群聊有人主动发表反跨言论，被我社群群友反驳，随后群主下场将跨性别群友踢出群并定性为我群群友找事，紧接着群内Terf集体出现开始发表missgender言论。
        随后其他群友私聊质询群主，但群主选择装死（在群里说话但是不回复）。
        <br />之后该平台开始发布大量反跨言论，开发团队不正面回应、不处理平台微信群和平台上各种反跨言论，反而发起了投票让用户选择跨性别女性是否可以使用该平台。经过简单的投票，
        平台快速上线实名认证功能，彻底变成生物本质主义女性社群。
      </p>
    </div>
    <div class="about-col">
      <img src="{% static 'asserts/images/lebond始末01.jpg' %}" />
    </div>
    <div class="about-col">
      <img src="{% static 'asserts/images/lebond始末02.jpg' %}" />
    </div>
    <div class="about-col">
      <img src="{% static 'asserts/images/lebond始末03.jpg' %}" />
    </div>
    <div class="about-col">
      <p>
        受够了！我们再无法忍受这种行为！多年来Terf一直把我们排除在本该也属于我们的女性群体之外，
        多年以来酷儿群体只能看开发团队和Terf的脸色，非传统二元性别者和Ally完全没有话语权。
        Terf的超大音量、平台开发者为了留住用户，权衡之后选择牺牲跨性别群体留住多数人，
        跨性别群体想要在社区留下，只能做到Terf那些苛刻无理的要求，还有那该死的谩骂和无休止的自证。
        <br />
      </p>
      <p>
        Lebond事件让我们清醒的意识到，从来都没有什么救世主，“顺性别弥赛亚”不存在，跨性别群体的幸福全靠我们自己创造。
        所以我们有了想在业余时间创建一个没有Terf，只属于我们的平台，这将是一次跨性别群体主动争取话语权的尝试。
      </p>
      <h3>我们决定了！开启跨性别编年史计划 (We still here forever)</h3>
      <p>
        我们想把人类能找到的那些历史上所有关于非传统二元性别者的内容汇集起来，做成一个时间轴，让我们的历史被人看到。
        我们一定要尝试一次。
      </p>
    </div>
    <div class="about-col">
      <img src="{% static 'asserts/images/lebond始末04.jpg' %}" />
    </div>
    <hr style="width: 56.6vw" />
  </div>
  <div class="about-col">
    <h1>2025.08.25</h1>
    <h4><strong>开发团队的第一次会议</strong></h4>
    <p>
      我们确立了网站的发展方向，并决定立即实行该计划。
      目前已做好开发团队的人员分工，网站开发成员正
      在狂肝网页demo，在下次会议前将提交demo。
    </p>
  </div>
  <hr style="width: 56.6vw" />
  <div class="about-col">
    <h1>2025.08.30</h1>
    <h4><strong>开发团队的第二次会议</strong></h4>
    <p>
      确认了后续的开发计划，接下来将继续完善网站功能，加入搜索、投稿等功能、并加入手机自适应。
    </p>
  </div>
  <hr style="width: 56.6vw" />
</div>
{% endblock %}