{% extends "base.html" %}
{% load static %}
{% block title %}TransHistoria{% endblock %}

{% block extra_head %}
<link href="{% static 'asserts/css/collage.css' %}" rel="stylesheet" />
<link href="{% static 'asserts/css/index.css' %}" rel="stylesheet" />
<style>
  .collage-container {
    background-image: url('/media/config/images/index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (max-width: 640px) {
    .collage-container {
      background-image: url('/media/config/images/index_mobile.jpg');
    }
  }
</style>
{% endblock %}

{% block main %}
<div class="index-container" id="index-container">
  <div class="collage-container" id="collage-container"></div>
  <div class="top" id="top-element">
    <div class="title">
      <p class="title-2">Transgender's History</p>
      <p class="title-1">跨性别历史</p>
      <p class="title-2">我们的历史，我们的声音</p>
      <a href="/history/timeline">进入时间线</a>
    </div>
  </div>
</div>
<script src="{% static 'asserts/js/collage_editor/render.js' %}"></script>
<script src="{% static 'asserts/js/index-scroll.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    initPage('/api/get_historynodes/', 'index', true, 1.5, 'outer', true);
    initScrollEffect();
  });
</script>
{% endblock %}