{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block title %}光谱历史-艺术馆{% endblock %}

{% block extra_head %}
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" rel="stylesheet" />
<style>
    main.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details {
        margin-top: 20px;
        width: 80%;
    }
</style>
{% endblock %}

{% block main %}
<div class="details">
    {% if node.cover %}
        <img src="/media/{{ node.cover }}" alt="{{ node.title }}" class="cover">
    {% endif %}
    {% if node.details %}
        {{ node.details|safe_markdown }}
    {% else %}
        <h1>{{ node.title }}</h1>
        <p>{{ node.con }}</p>
    {% endif %}
</div>
{% endblock %}