{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block title %}TransHistoria节点详情{% endblock %}

{% block extra_head %}
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" rel="stylesheet" />
<style>
    main.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details {
        margin-top: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .details p {
        width: 100%;
    }

    .details img {
        margin: 10px 0;
    }

    .details a {
        color: #5BCEFA;
        text-decoration: none;
    }
    
</style>
{% endblock %}

{% block main %}
<div class="details martor-preview">
    {% if node.cover %}
        <img src="/media/{{ node.cover }}" alt="{{ node.title }}" class="cover">
    {% endif %}
    {% if node.details %}
        {{ node.details|safe_markdown }}
    {% else %}
        <h1>{{ node.title }}</h1>
        <p>{{ node.con }}</p>
    {% endif %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const img = document.querySelectorAll('p img')
        img.forEach(
            function (img) {
                const p = img.parentNode
                p.style.display = 'contents';
            }
        )
    })
</script>
{% endblock %}