{% extends "base.html" %}
{% load static %}

{% block title %}TransHistori-人物史{% endblock %}

{% block extra_head %}
<link href="{% static 'asserts/css/collage.css' %}" rel="stylesheet" />
<style>
  .collage-container {
    background-image: url('/media/config/images/people.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (max-width: 640px) {
    .collage-container {
      background-image: url('/media/config/images/people_mobile.jpg');
    }
  }
</style>
{% endblock %}

{% block main %}
<div class="people-container">
  <div class="collage-container" id="collage-container"></div>
</div>
<script src="{% static 'asserts/js/collage_editor/render.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => initPage('/api/get_people_nodes/', 'people'));
</script>
{% endblock %}