{% extends "base_A.html" %}
{% load static %}

{% block title %}TransHistoria{% endblock %}

{% block extra_head %}
<link href="{% static 'asserts/css/timeline_A.css' %}" rel="stylesheet" />
<link href="{% static 'asserts/css/nyancat.css' %}" rel="stylesheet" />
<script src="{% static 'asserts/js/timeline_A.js' %}" defer></script>
{% endblock %}

{% block main %}
<div class="timeline">

    <div class="t-item">
        <div class="t-line">
            <div class="t-background">
                <div class="t-card">
                    <div class="t-id" style="display: none;">1</div>
                    <div class="t-dot"></div>
                    <div class="t-year">AD 1930</div>
                    <p class="t-title">莉莉·艾尔伯开始性别确认手术</p>
                    <p class="t-content">
                        她成为最早因手术而为世人所知的跨性别女性之一，推动医学与公众讨论。
                    </p>
                    <a>了解更多➝</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "nyancat.html" %}

{% endblock %}