<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>光谱历史-档案馆-人物志</title>

    <link rel="stylesheet" href="../../资料库/人物/人物style.css">
</head>

<body>
    <!-- 一整个页面的布局 -->
    <div class="Box-Background">

        <!-- 导航栏设置 -->
        <div class="navbar">
            <a href="../../Index.html" target="_self"><img src="../../images/logo-trans4tm1.png" class="logo-icon"></a>
            <nav>
                <ul>
                    <li><a href="../../Index.html" target="_blank">主页</a></li>
                    <li><a href="../../Time Line.html" target="_blank">跨性别编年史</a></li>
                    <li><a href="../../Archives.html" target="_self">资料库</a></li>
                    <li><a href="../../About us.html"target="_blank">关于我们</a></li>
                </ul>
            </nav>
            <img src="../../images/分类.png" class="menu-icon">
        </div>
        
        <div class="row">
            <div class="col01">
                <div class="card card1" onclick="window.open('../../资料库/人物/1930-人物-莉莉·艾尔伯-档案.html')">
                    <h5><br><br><br><br>莉莉·艾尔伯</h5>
                    <h6>世界上有纪录的最早接受性别重置手术者之一</h6>
                    
                </div>
                <div class="card card2" onclick="window.open('../../资料库/人物/1952-人物-克里斯汀·约根森-档案.html')">
                    <h5><br><br>克里斯汀·约根森</h5>
                    <h6>美国第一位因接受变性手术而广为人知的跨性别女性</h6>
                </div>

            </div>
            </div>
        </div>
    
    </div>

    
    <!-- 一整个页脚的布局 -->
    <div class="footer">
        <div class="col-1">
            <h3>快速链接</h3>
            <a href="../../About submission.html" target="_blank">关于投稿</a>
            <a href="../../About us.html" target="_blank">关于我们</a>
            <a href="../..//Dlog.html" target="_blank">开发日志</a>
        </div>

        <div class="col-2">
            <h3>搜索栏</h3>
            <form>
                <input type="type" placeholder="档案搜索" required>
                <br>
                <button type="submit">搜索</button》>
            </form>
        </div>
        <div class="col-3">
            <h3>联系我们</h3>
            <p2>Email:xxxxx@xx.xx</p2>
            <br><br>
            <p2>关注我们的微信公众号：XXXX</p2>
        </div>
    </div>
</body>
</html>